# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.gch

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX Output files
*.synctex.gz
*.aux
*.log
*.pdfsync
*.out
*.dvi
*.lof
*.tps
*.pdf
*.idx
*.toc

# Doxygen output files
*.sty
Proyecto/doc/refman.tex
*.xslt
*.xsd
*.xml

