# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.gch

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX Output files
*.synctex.gz
*.aux
*.log
*.pdfsync
*.out
*.dvi
*.lof
*.tps
*.pdf
*.idx
*.toc
*.ilg
*.ild
*.ind

# Doxygen output files

Proyecto/doc/doxygen

# Test files (Not needed, compiled)
Proyecto/test/*.exe
Proyecto/test/*.pgm
Proyecto/test/*.ppm
Proyecto/test/*.jpeg
Proyecto/test/*.png
Proyecto/test/*.bmp
Proyecto/test/*.jpg

#Geany temporals

*.cpp~
*.hh~

#Beamer Output files
*.nav
*.snm
*.log
